
<router-outlet>
<div class="userProfile container white">
  <li><img class="image" [src]="" alt="(profile pic goes here)"></li>
  <li><b>Username: </b>{{subjectUser.username}}</li>
  <li>from {{subjectUser.location}} <span *ngIf="!subjectUser.favouriteGenre">...</span></li>
  <li><b>Preferred Genre: </b>{{subjectUser.favouriteGenre}} <span *ngIf="!subjectUser.favouriteGenre">None at the moment</span></li>
  <li><b>Collection of books: </b>{{subjectUser.favouriteBook}}<span *ngIf="!subjectUser.favouriteBook">No favourite book at the moment</span></li>
  <div *ngIf="user._id==subjectUser._id"><button (click)="gotoEdit()">Edit profile</button></div>
</div>
