.formHandler {
  margin: 0 auto;
  margin-top: 40px;
  height: 550px;
  width: 60%;
  opacity: 0.8;
}

.newPostForm{
  margin: 0 auto;
  position: relative;
  top: 40px;
  height: 450px;
  width: 90%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  vertical-align: center
}

.textFields {
  margin-top: 40px;
  display: inline-block;
}

.component{
  margin-top: 20px;
  margin: 0 auto;
}

.component textarea {
  height: 200px;
}

.component input {
  width: 85%;
  overflow-x: auto;
}

.component button {
  margin-left: 45%;
  margin-top: 10px;
}
