<div *ngIf="formInfo">

  <form class="white editForm container">
    <h5>Editing {{user.username}}'s profile</h5>
    <div class="formHandler container">
      <div class="component container">
        <label>Username</label> <input type="text" [(ngModel)]="formInfo.username" name="username">
      </div>
      <div class="component container">
        <label>Email</label> <input type="text" [(ngModel)]="formInfo.email" name="email">
      </div>
      <div class="component container">
        <label>Location</label> <input type="text" [(ngModel)]="formInfo.location" name="location">
      </div>
      <div class="component container">
        <label>Favourite Genre</label> <input type="text" [(ngModel)]="formInfo.favouriteGenre" name="favouriteGenre">
      </div>
      <div class="component container">
        <label>Favourite Book</label> <input type="text" [(ngModel)]="formInfo.favouriteBook" name="favouriteGenre">
      </div>
      <div class="component container">
        <button (click)="editUser()">Edit user</button>
      </div>
    </div>
  </form>

</div>
