.editForm {
  width: 60%;
  padding: 5px;
  opacity: 0.9;
  margin-top: 60px;
  position: relative;
  left: 50px;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
}

.editForm h5 {
  text-align: center;
}

.editForm button {
  position: relative;
  margin-left: 130px;
}

.formHandler {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
