<div class="col s4 webTitle white">
  <h2>{{title}}</h2>
</div>

<div *ngIf="post" class="white col s8 container postPortrait">
  <div class="container">
    <div class="title">
      <h5>{{post.title}}</h5>
      <div *ngIf="post.creator._id==user._id" class="deleteButton">
        <button (click)="delete(post)">Delete</button>
      </div>
    </div>
    <div class="date">
      <p>Made on {{post.created_at1}} at {{post.created_at2}}</p>
    </div>
    <div class="credit">
      <p>By <a routerLink="/user/{{post.creator._id}}">{{post.creator.username}}</a></p>
    </div>
    <div class="textField">
      <li><p>{{post.content}}</p></li>
    </div>
    <div class="commentsNumber">
      <li>{{post.comments.length}} comment<span *ngIf="post.comments.length > 1 || post.comments.length === 0">s</span></li>
    </div>
    <div class="buttonHandler">
      <button class="commentButton" *ngIf="user!=Observable" (click)="comment(post)">Comment</button>
      <div *ngIf="post.creator._id==user._id" class="editButton">
        <button (click)="gotoEdit(post)">Edit</button>
      </div>
    </div>
    <div class="commentBox hide container">
      <textarea name="comment" class="commentText" [(ngModel)]="formInfo.content" rows="25" cols="80"></textarea>
      <div class="newButtons container">
        <button (click)="goBack(post)">Go Back</button><button (click)="sendComment(post)">Send</button>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let comment of comments" class="indivcomment grey indivcomment" (load)="alternateColor()">
  <div class="commentHolder white container">
    <li>
      <div class="indivCredit">
        <p>By <a href="/user/{{comment.creator._id}}">{{comment.creator.username}}</a></p>
      </div>
      <button class="deleteComment" *ngIf="comment.creator._id==user._id" name="button" (click)="deleteComment(comment)">Delete</button>
    </li>
    <li>
      <div class="indivContent">
        {{comment.content}}
      </div>
    </li>
    <li>
      <div *ngIf="user" class="commentOnComment">
        <button (click)="comment2(comment)">Comment</button>
      </div>
      <div class="commentBox{{comment._id}} hide container">
        <textarea name="comment" class="commentText" [(ngModel)]="formInfo.content" rows="25" cols="80"></textarea>
        <div class="newButtons container">
          <button (click)="goBack2(comment)">Go Back</button><button (click)="sendComment(comment)">Send</button>
        </div>
      </div>
    </li>
  </div>
</div>
