.postPortrait {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  width: 55%;
  list-style: none;
  opacity: 0.9;
  padding: 10px;
  border-radius: 5px;
}

.textField {
  border: 1.5px solid black;
  text-align: start;
  padding-bottom: 70px;
  margin-bottom: 10px;
}

.postPortrait button {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 70px;
}

.commentsNumber {
  float: left;
}
