.postPortrait {
  margin: 0 auto;
  margin-top: 95px;
  text-align: center;
  width: 50%;
  border: 2px solid black;
  list-style: none;
  opacity: 0.9;
  padding: 10px;
  border-radius: 5px;
}

.title {
  margin-bottom: 25px;
}

.textField {
  border: 1.5px solid black;
  text-align: start;
  padding-bottom: 70px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.postPortrait .commentButton {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.postPortrait .editButton {
  float: right;
  margin-top: 10px;
}

.commentsNumber {
  float: left;
}

.commentText {
  height: 140px;
}

.comment {
  width: 100%;
}

.indivcomment {
  border: 1px solid black;
  width: 49.5%;
  margin: 0 auto;
  opacity: 0.8;
  border-radius: 2px;
  position: relative;
  bottom: 2px;
  list-style: none;
}

.commentHolder {
  margin-bottom: 35px;
  margin-left: 60px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  width: 80%;
  padding-bottom: 15px;
  margin-top: 20px;
}

.commentHolder li {
  margin-left: 20px;
}

.commentOnComment {
  margin: 10px;
  margin-left: 45%;
}

.indivContent {
  margin-top: 5px;
  margin-left: 5px;
}
