<div class="background teal lighten-1">
  <div style="text-align:center" class="col s10 links white container">
    <div class="container linksHandler">
      <div class="col s1 link hoverable"><a [routerLink]="['/']">Home</a></div>
      <div *ngIf="user" class="col s1 link hoverable"><a routerLink="/user/{{user._id}}">User Profile</a></div>
      <div class="col s1 link hoverable"><a [routerLink]="['/login']">Login</a></div>
      <div class="col s1 link hoverable"><a [routerLink]="['/signup']">Signup</a></div>
    </div>
  </div>
  <div class="col s4 sidebar red">
    <div class="container orange userHandler">
      <li><b> Username: </b><span *ngIf="user">{{user.username}}</span></li>
    </div>
    <div class="container orange userHandler">
      <li><b>Messages: </b><a *ngIf="user">{{user.messages.length}}</a></li>
    </div>
    <div class="container orange userHandler">
      <li><b>Posts: </b></li>
    </div>
    <div class="container orange userHandler userPostHandle">
      <ul *ngFor="let post of postlist" >
        <div class="indivUserPost truncate">
          <a href="#">{{post.title}}</a>
        </div>
      </ul>
    </div>
    <div *ngIf="user" class="buttonHandler container">
      <button class="editProfile" (click)="edit()">Edit profile</button>
      <br>
      <button class="logout" (click)="logout()"> logout </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
