.webTitle {
  margin: 0 auto;
  position: relative;
  width: 40%;
  text-align: center;
  opacity: 0.8;
  text-decoration: underline;
  border-radius: 5px;
  height: 65px;
  margin-top: 25px;
  border: 1px solid black;
}

.webTitle h2 {
  margin: 0;
}

.signupForm {
  border: 2px solid black;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  width: 43%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.signupForm h3 {
  margin: 1rem;
}

.formHandler {
  margin-bottom: 25px;
}

.formHandler .error {
  font-size: 8px;
  color: red;
  text-align: center;
}

.formHandler input {
  border: 0.5px solid black;
  height: 20px;
  width: 80%;
}
