<div *ngIf="user">
  <p>You've already logged in</p>
</div>

<form class="col s10 loginForm white">
  <h2> Login </h2>
  <div class="textField">
    <label> Username </label> <br>
    <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  </div>
  <br>
  <div class="textField">
    <label> Password </label> <br>
    <input type="password" [(ngModel)]="formInfo.password" name="password"/>
  </div>
  <div class="textField">
    <button (click)="login()"> login </button>
  </div>
</form>
